__pycache__/
.cache/
.venv/
.pytest_cache/
.vscode
.project
data/zip_code/*
data/zip_code_jigyosyo/*
scripts/tmp/*

# Intellij
.idea
/*.iml

# PyEnv
.python-version

# Sphinx
doc/build/*

# Mac
.DS_Store