!.gitkeep

__pycache__/
.cache/
.venv/
.pytest_cache/
.project
*.egg-info/

# VSCode
.vscode

# Intellij
.idea
/*.iml

# PyEnv
.python-version

# Node
node_modules/

# Mac
.DS_Store

# Project
cov/coverage.xml
cov/pytest.xml
cov/.coverage