coincurve==17.0.0
eth-keyfile==0.5.1
eth-utils==1.10.0
fastapi==0.85.0
future==0.16.0
gunicorn==20.1.0
gevent==21.12.0
hexbytes==0.1.0
orjson==3.8.3
PyMySQL==0.10.1
psycopg2-binary==2.9.3
SQLAlchemy>=1.4,<1.5
sqlalchemy-migrate==0.13.0
uvicorn==0.20.0
web3==5.31.1